---
import Layout from "../layouts/Default.astro";

const entomologyLink = "https://en.wikipedia.org/wiki/Entomology";
const comptiaLink = "https://www.comptia.org/certifications/a";
---

<Layout>
	<article>
		<h1>About Me</h1>
		<p>they/them</p>
		<h2 class="table-of-contents">Table of Contents</h2>
		<ol>
			<li><a href="#intro">Intro</a></li>
			<li><a href="#goals">Goals and Aspirations</a></li>
			<li><a href="#hobbies">My Hobbies</a></li>
			<li><a href="#blog">Why I Created This Blog</a></li>
		</ol>
		<hr />
		<h2 id="intro">Intro</h2>
		<p>
			Hi! I'm Luci! I developed a passion for programming as I grew up and
			learned about computers and technology. When I was a kid, I was really
			into <a href={entomologyLink} target="_blank">entomology</a>, so in a way,
			I never stopped finding bugs! I haven't found a field of technology that I
			find boring or uninteresting, which is how I find myself studying both web
			development <em>and</em> IT.
		</p>
		<h2 id="goals">Goals and Aspirations</h2>
		<h3>Career</h3>
		<ul>
			<li>Finish learning web development</li>
			<li>
				Pass the<a href={comptiaLink} target="_blank"> Comptia A+</a> exam
			</li>
			<li>Begin job hunting</li>
		</ul>
		<h3>Personal</h3>
		<ul>
			<li>Improve my writing</li>
			<li>get better at talking about myself (this page was difficult)</li>
			<li>Start a garden</li>
		</ul>
		<h2 id="hobbies">My Hobbies</h2>
		<p>
			I like to spend my free time doing at least one of a few things. When I
			want to sit back and relax, I usually turn to either anime or manga. If I
			have a bit more energy or I want to spend time with my friends, I like to
			play video games, especially Halo or multiplayer games. And of course,
			like most people, I like to listen to music too.
		</p>
		<h2 id="blog">Why I Created This Blog</h2>
		<p>
			This is my first time keeping up with a blog and the first time I've
			handmade my own personal website, so I have a lot of reasons for making
			this. Firstly: I want to keep track of my progress with my education and
			career, as well as all the dates and thoughts that go with them. Secondly:
			Building and maintaining a passion project like this will help me from
			getting discouraged as I discover trickier parts of my education. Lastly:
			I want to improve the projects I do as I learn web development,
			specfically in terms of design and style. I think that having a personal
			blog will help with that because while I want it to look professional, I
			also want it to appeal to my tastes.
		</p>
	</article>
</Layout>

<style>
	h2.table-of-contents {
		font-size: 1.25rem;
	}

	p {
		text-indent: 1em;
	}

	p + p {
		text-indent: 0;
	}
</style>
