---
import Layout from "../layouts/Default.astro";

const topLink = "https://theodinproject.com";
const certLink = "https://www.comptia.org/certifications/a";
---

<Layout>
	<h1 id="intro">
		Hey hey! My name is <span>Luci</span> and I'm a student learning web development
		and IT
	</h1>
	<p>
		My current goal is to finish
		<a target="_blank" href={topLink}>The Odin Project</a> and pass the
		<a href={certLink} target="_blank"> Comptia A+ Exam</a>. Seeing as I'm
		studying both IT and web dev, I'll be writing about both on this blog! Most
		of it will probably just be detailing my experiences with concepts and
		technologies, but I guess we'll see how it turns out.
	</p>
	<a href="/about" class="btn">About me!</a>

	<div>
		<br />
		This will be a card slider or something to show off some of my recent posts!
	</div>
</Layout>

<style>
	span {
		color: steelblue;
		font-size: 1.25em;
	}

	a.btn {
		display: inline-block;
		text-decoration: none;
		color: white;
		font-weight: bold;
		background-color: steelblue;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
	}
</style>
