---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<h2>{SITE_TITLE}</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/posts">Posts</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://github.com/scorpi4n/" target="_blank">
			GitHub
		</HeaderLink>
	</nav>
</header>

<style>
	header {
		margin-bottom: 2rem;
	}

	h2 {
		margin: 0.5rem 0;
	}
</style>
