---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Default.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout>
	<article>
		<h1 class="title">{title}</h1>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div>
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
		<slot />
	</article>
</Layout>

<style>
	.title {
		font-size: 2em;
		margin: 0.25em 0 0;
	}

	hr {
		border-top: 1px solid #ddd;
		margin: 1rem 0;
	}

	:global(p) {
		text-indent: 1em;
	}

	:global(p + p) {
		text-indent: 0;
	}
</style>
